<html>
  <head>
    <title>FormPage</title>
  </head>
  <body>
    <h1>User Form</h1>
    <form method="POST" action="/new">
      <input placeholder="Author’s name" name="messageUser" />
      <input placeholder="Message text" name="messageText" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
